#mainPageNewHome .p-panel-header {
    padding: 9px 16px;
    border-radius: var(--border-0);
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-color: var(--primary-color);
}

.p-panel-header {
    
}

#mainPageNewHome .p-panel-content {
border-radius: 0px;
border-width: 1px;
}