/* @layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
} */
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.p-submenu-list {
  width: max-content;
}

#popup_menu_left {
  width: max-content;
}

.p-dropdown-label {
  padding-right: 0px;
}

/* .p-scrollpanel-content {
  margin-top: 50px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header a[class="p-menubar-button"] {
  display: none !important;
}

.p-datatable-table .p-highlight {
  /* background-color: #F7CA18; */
  background-color: #ffffc0;

  color: #000;
  border-color: #fff;
  /* background-image: linear-gradient(to bottom, #F7CA18, #F4D03F) */
  /* background-image: linear-gradient(to bottom, #fdfd95, #fbee95) */
}

.p-datatable-table .p-highlight:hover {
  /* background-color: #F89406; */
  background-color: #fbee95;
  /* background-image: linear-gradient(to bottom, #F89406, #F4D03F) */
  background-image: linear-gradient(to bottom, #fbee95, #fdfd95)
}

.p-datatable-table .p-checkbox .p-checkbox-box.p-highlight{
  background-color: #fff;
  border-color: #fbee95;
  color: #000;
}

.p-datatable-table .p-radiobutton .p-radiobutton-box.p-highlight > *{
  color: #000;
}

